* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: #FED8E5;
}

/* Estilos de Header*/
/*---Variables---*/
.header {
  background-color: #362E30;
  font-family: "Italianno", cursive;
  color: #FFBF00;
  text-align: start;
}

.logo {
  width: 120px;
  height: auto;
}

.titulo {
  text-align: center;
}

.nav-link {
  color: #FFBF00;
  text-decoration: none;
  font-size: 2.5rem;
}

/*estilos del main*/
.testimonial-container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

.galeria {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

.card-img {
  height: 350px;
  width: 350px;
}

.card-title {
  font-family: "Montserrat", sans-serif;
  font-size: xx-large;
  font-weight: 800;
  color: #362E30;
}

.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 150px;
}

.card {
  width: 25rem;
  height: 31rem;
  background-color: #362E30;
  font-family: "Montserrat", sans-serif;
  font-size: large;
  color: #FFBF00;
  transition: transform 0.2s;
  cursor: pointer;
  margin: 10px 0px;
}

.card:hover {
  transform: scale(1.05);
}

.flaier {
  object-fit: cover;
  width: 100%;
  height: 260px;
}

.containet-contact {
  margin: 0;
}

.lafundadora {
  margin-top: 5em;
  display: flex;
  justify-content: center;
}

.quienes {
  margin: 0;
  padding: 0;
}

.quienes img {
  width: 100%;
  margin: 0;
  padding: 0;
  border-top-right-radius: 2%;
  border-top-left-radius: 2%;
}

.carta {
  background-color: #362E30;
  flex: 1;
  flex-wrap: wrap;
  max-width: 340px;
  border-radius: 2%;
  margin-right: 3em;
  box-shadow: 3px 3px 25px 0px rgba(46, 61, 73, 0.5);
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}

.carta:hover {
  cursor: pointer;
  opacity: 1;
  box-shadow: 1px 1px 25px 0px rgba(46, 61, 73, 0.4);
}

.carta:last-child {
  margin-right: 0;
}

.descr {
  margin-top: 0;
  padding: 1em 2em 0 2em;
  color: #2e3d49;
}

.andy {
  color: #FFBF00;
  font-family: "Montserrat", sans-serif;
}

.descr p {
  font-size: x-large;
  font-family: "Montserrat", sans-serif;
  color: #FFBF00;
  padding-bottom: 1em;
}

.fundadora {
  margin-top: 100px;
  margin-left: 480px;
  width: 300px;
  height: 300px;
}

.encabezado {
  font-size: 60px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.catalogo {
  font-size: 60px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.card-title {
  text-align: center;
  font-size: 30px;
}

.descripcion {
  font-family: "Montserrat", sans-serif;
  font-size: xx-large;
}

.card {
  padding: 50px;
  padding-left: 90px;
}

card-img-top {
  max-width: 300px;
}

.title-contact {
  text-align: center;
}

.formulario {
  padding: 60PX;
  margin-left: 180px;
}

.testimonios {
  display: grid;
  grid-template-columns: 30% 30% 30%;
}

.testimonio {
  border: 6px solid #362E30;
}

.btn {
  font-family: "Italianno", cursive;
  color: #FFBF00;
  background-color: #362E30;
}

.mapa {
  margin-left: 500px;
  width: 400px;
  height: 400px;
}

.btn {
  font-size: 35px;
}

/* Grids*/
.testimonios {
  margin-top: 60px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 30% 30% 30%;
}

.testimonio {
  border: 6px solid #362E30;
  font-family: "Montserrat", sans-serif;
  background-color: #362E30;
  color: #FFBF00;
}

/*Estilos de footer*/
.footer {
  background-color: #362E30;
  font-family: "Italianno", cursive;
  color: #FFBF00;
  position: relative;
  margin-top: 300px;
}

.footer-col {
  width: 32%;
  display: inline-block;
}

.wsp {
  width: 100px;
  height: 100px;
}

.conversacion {
  color: #FFBF00;
}

.telefono-wsp {
  margin-top: 6px;
  display: inline-block;
  font-size: xx-large;
}

.ig {
  width: 100px;
  height: 100px;
}

.bi {
  color: #FFBF00;
}

.fix {
  text-align: right;
}

.seguinos {
  margin-top: 6px;
  display: inline-block;
  font-size: xx-large;
}

.registrado {
  text-align: center;
  font-size: xx-large;
}

/* Resoluciones Medias*/
/*----Media Quaries Laptop----*/
@media screen and (max-width: 1024px) {
  .inicio {
    margin-left: 235px;
  }
  .titulitos {
    margin-left: 60px;
  }
  .mapa {
    margin-left: 310px;
  }
}
/*----Media Quaries tablet----*/
@media screen and (max-width: 768px) {
  .card {
    margin-left: 180px;
  }
  .catalogo {
    margin-top: 25px;
  }
  .inicio {
    margin-left: 105px;
  }
  .titulitos {
    margin-left: 60px;
  }
  .testimonial-container {
    width: 90%;
  }
  .formulario {
    margin-left: auto;
    margin-right: 100px;
  }
  .mapa {
    margin-left: 230px;
    width: 350px;
    height: 350px;
  }
}
/*----Media Quaries Movile----*/
@media screen and (max-width: 420px) {
  .encabezado {
    font-size: 50px;
  }
  .nav-link {
    margin-bottom: 0px;
  }
  .descripcion {
    font-size: medium;
  }
  .inicio {
    padding-left: 50px;
  }
  .titulitos {
    margin-left: 15px;
  }
  .portada {
    width: 320px;
    height: 320px;
  }
  .card {
    margin-left: 0;
  }
  .testimonios {
    display: flex;
    flex-direction: column;
  }
  .formulario {
    margin-left: auto;
  }
  .mapa {
    margin-left: 60px;
    width: 300px;
    height: 300px;
  }
  .telefono-wsp {
    font-size: x-large;
  }
  .seguinos {
    font-size: x-large;
  }
  .registrado {
    font-size: x-large;
  }
}

/*# sourceMappingURL=estilos.css.map */
