*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    position: relative;
    background-color: #FED8E5;
}
/* Estilos de Header*/
.header{
    background-color: #362E30;
    font-family:'Italianno', cursive;
    color: #FFBF00;
    text-align: start;
}
.header .logo{
    float: left;
    width: 150px;
    position: relative;
    bottom: 65px;
    left: 40px;
}
.titulo{
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
}
.nombreP{
    text-align: center;
    padding-top: 30px;
    font-size: 55px;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    font-size: 35px;
    margin-left: 40px;
    margin-top: 60px;
}
.header .menu ul li a{
    padding: 20px;
    margin-bottom: 50px;
    color: #FFBF00;
    text-decoration: none;
    text-align: left;
}
/*estilos del main*/
.encabezado{
    text-align: center;
    font-size: 60px;
    font-family:'Montserrat', sans-serif;
}
.gaLeria{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.taMaño{
    width: 250px;
    height: 250px;
}
.flaier{
    position:relative;
    object-fit: cover;
    width: 100%;
    height: 260px;
}
.gAleria{
    display: flex;
    flex-direction: column;
   align-items: center;
}
.catalogo{
    text-align: center;
    font-size:60px;
    font-family: 'Montserrat', sans-serif;
}
.acida{
    margin-top: 30px;
    width: 300px;
    height: 300px;
}
.tortas{
    margin-top: 15px;
    text-align: center;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}
.dl{
    margin-top: 30px;
    width: 300px;
    height: 300px;
}
.fr{
    margin-top: 30px;
    width: 300px;
    height: 300px;
}
.alfajor{
    margin-top: 15px;
    text-align: center;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}
.masas{
    margin-top: 15px;
    text-align:center;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}
/*Estilos de footer*/
.footer{
    background-color: #362E30;
    font-family:'Italianno', cursive;
    height: 50px;
    margin-top: 800px;
    color: #FFBF00;
    position: relative;
}
.footer-col{
    width: 32%;
    display: inline-block;
}
.wsp{
    width: 25px;
    height: 25px;
    
}
.telefono-wsp{
    margin-top: 6px;
    display: inline-block;
    font-size: larger;
}
.ig{
    width: 25px;
    height: 25px;
}
.bi{
    color: #FFBF00
}
.fix{
    text-align: right;
}
.seguinos{
    margin-top: 6px;
    display: inline-block;
    font-size: larger;
}
.registrado{
    text-align: center;   
}