.testimonial-container{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}
.galeria{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}
.card-img{
    height: 350px;
    width: 350px;
}
.card-title{
    font-family:'Montserrat', sans-serif;
    font-size: xx-large;
    font-weight: 800;
    color:#362E30;
}
.card-img-top{
    object-fit:cover;
    width: 100%;
    height:150px;
}
.card{
    width: 25rem;
    height: 31rem;
    background-color: #362E30;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    color: $cool-dorado;
    transition: transform .2s;
    cursor: pointer;
    margin:10px 0px;
}
.card:hover{
    transform: scale(1.05);
}
.flaier{
    object-fit: cover;
    width: 100%;
    height: 260px;
}
.containet-contact{
    margin: 0;
}
.lafundadora {
    margin-top: 5em;
    display: flex;
    justify-content: center;
  }
  
  .quienes{
    margin: 0;
    padding: 0;
  }
  
  .quienes img {
    width: 100%;
    margin: 0;
    padding: 0;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
   //webkit-filter: hue-rotate(330deg);
  
  }
  
  .carta{
    background-color: #362E30;
    flex: 1;
    flex-wrap: wrap;
    max-width: 340px;
    border-radius: 2%;
    margin-right: 3em;
    box-shadow: 3px 3px 25px 0px rgba(46,61,73,0.5);
    opacity: .9;
    transition: all .3s ease-in-out;
  }
  
  .carta:hover {
    cursor: pointer;
    opacity: 1;
    box-shadow: 1px 1px 25px 0px rgba(46,61,73,0.4);
  }
  
  .carta:last-child {
    margin-right: 0;
  }
  
  .descr {
    margin-top: 0;
    padding: 1em 2em 0 2em;
    color: #2e3d49;
  }
  .andy{
    color: $cool-dorado;
    font-family: 'Montserrat', sans-serif;
}  
  .descr p {
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    color: $cool-dorado;
    padding-bottom: 1em;
  }
  
.fundadora{
    margin-top: 100px;
    margin-left: 480px;
    width: 300px;
    height: 300px;
}
@import "./map";
.descripcion{
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
}
.card{
    padding: 50px;
    padding-left: 90px;
}
card-img-top{
    max-width: 300px;
}
.title-contact{
    text-align: center;
}
.formulario{
    padding: 60PX;
    margin-left: 180px;
}
.testimonios{
    display: grid;
    grid-template-columns: 30% 30% 30%;
}
.testimonio{
    border: 6px solid #362E30;
}
%boton {
    font-family:'Italianno', cursive;
    color: #FFBF00;
    background-color: #362E30;
}
.mapa{
    margin-left: 500px;
    width: 400px;
    height: 400px;
}
.btn{
    @extend %boton;
    font-size: 35px;
}
