
.galeria{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-img{
    height: 350px;
    width: 350px;
}
.card-title{
    font-family:'Montserrat', sans-serif;
    font-size: xx-large;
    font-weight: 800;
    color:#362E30;
}
.card-img-top{
    object-fit:cover;
    width: 100%;
    height:150px;
}
.card{
    width: 25rem;
    height: 31rem;
    background-color: #362E30;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    color: $cool-dorado;
    transition: transform .2s;
}
.card:hover{
    transform: scale(1.1);
}
.flaier{
    object-fit: cover;
    width: 100%;
    height: 260px;
}
.fundadora{
    margin-top: 100px;
    margin-left: 480px;
    width: 300px;
    height: 300px;
}
@import "./map";
.descripcion{
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
}
.card{
    padding: 50px;
}
card-img-top{
    max-width: 300px;
}
.title-contact{
    text-align: center;
}
.formulario{
    padding: 60PX;
    margin-left: 180px;
}
.testimonios{
    display: grid;
    grid-template-columns: 30% 30% 30%;
}
.testimonio{
    border: 6px solid #362E30;
}
%boton {
    font-family:'Italianno', cursive;
    color: #FFBF00;
    background-color: #362E30;
}
.mapa{
    margin-left: 500px;
    width: 400px;
    height: 400px;
}
.btn{
    @extend %boton;
    font-size: 35px;
}
