.footer{
    background-color: #362E30;
    font-family:'Italianno', cursive;
    color: #FFBF00;
    position: relative;
    margin-top: 300px;
}
.footer-col{
    width: 32%;
    display: inline-block;
}
.wsp{
    width: 100px;
    height: 100px;
}
.conversacion{
    color: $cool-dorado;
}
.telefono-wsp{
    margin-top: 6px;
    display: inline-block;
    font-size: xx-large;
}
.ig{
    width: 100px;
    height: 100px;
}
.bi{
    color: #FFBF00
}
.fix{
    text-align: right;
}
.seguinos{
    margin-top: 6px;
    display: inline-block;
    font-size: xx-large;
}
@mixin sizes ($tamaño){
    font-size: $tamaño;
}
.registrado{
    text-align: center;
    @include sizes(xx-large)
}