*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: #FED8E5;
}
/* Estilos de Header*/
@import "./header";
/*estilos del main*/
@import "./main";
/* Grids*/
@import "./grids";
/*Estilos de footer*/
@import "./footer";
/* Resoluciones Medias*/
@import "./media";